<div class="comments">
  <div class="row text-center">
    <span class="align-middle" style="font-size:36px">Comments</span>
  </div>
  
  {% if site.data.comments[page.slug] %}
    {% assign comments = site.data.comments[page.slug] | sort %}
    {% for comment in comments %}
      <div class="row">
        <div class="col-md-8">
          <span style="font-size:28px">{{comment[1].name}}</span>
        </div>
        <div class="col-md-4 pull-right">
          <span style="text-align: right">({{comment[1].date | date: "%Y-%m-%d %H:%M"}})</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{comment[1].message | markdownify}}
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <div class="row text-center">
    <span class="align-middle" style="font-size:36px">Leave a comment</span>
  </div>
  
</div>
